<p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>

<div class="text">
    <span>ร้</span>
    <span>า</span>
    <span>น</span>
    <span>เ</span>
    <span>ช่</span>
    <span>า</span>
    <span>ห</span>
    <span>นั</span>
    <span>ง</span>
    <span>สื</span>
    <span>อ</span>
</div>

<p-carousel [value]="books" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h1>หนังสือแนะนำ</h1>
    </ng-template>
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="p-mb-3">
                    <img src="{{product.image}}" [alt]="product.name" class="product-image" routerLink="/detail/{{product.id}}" />
                </div>
                <div>
                    <h3 class="p-mb-1" routerLink="/detail/{{product.id}}">{{product.name}}</h3>
                    <div class="car-buttons p-mt-5">
                        <p-button id="info" label="ดูรายละเอียด" icon="pi pi-search" styleClass="p-button-rounded" routerLink="/detail/{{product.id}}"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>