.product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 10px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.product-image {
    width: 50%;
}

h1 {
    text-align: center;
}

.button {
    padding: 5px;
}